<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.Ike.Core.sys.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="org.Ike.Api.sys.model.Dictionary" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DCTCODE" property="code" jdbcType="VARCHAR" />
    <result column="DCTVALUE" property="value" jdbcType="VARCHAR" />
    <result column="DCTCOMMENT" property="comment" jdbcType="VARCHAR" />
    <result column="DCTPARENT" property="parent" jdbcType="INTEGER" />
    <result column="SYS_CREATE_DATE" property="sysCreateDate" jdbcType="DATE" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
    <result column="DISABLED" property="disabled" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DCTCODE, DCTVALUE, DCTCOMMENT, DCTPARENT, SYS_CREATE_DATE, VERSION, DISABLED
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_DICT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="org.Ike.Api.sys.model.Dictionary" >
    insert into SYS_DICT (ID, DCTCODE, DCTVALUE, 
      DCTCOMMENT, DCTPARENT, SYS_CREATE_DATE, 
      VERSION, DISABLED)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{parent,jdbcType=INTEGER}, #{sysCreateDate,jdbcType=DATE}, 
      #{version,jdbcType=INTEGER}, #{disabled,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.Ike.Api.sys.model.Dictionary" >
    insert into SYS_DICT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        DCTCODE,
      </if>
      <if test="value != null" >
        DCTVALUE,
      </if>
      <if test="comment != null" >
        DCTCOMMENT,
      </if>
      <if test="parent != null" >
        DCTPARENT,
      </if>
      <if test="sysCreateDate != null" >
        SYS_CREATE_DATE,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="disabled != null" >
        DISABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="sysCreateDate != null" >
        #{sysCreateDate,jdbcType=DATE},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.Ike.Api.sys.model.Dictionary" >
    update SYS_DICT
    <set >
      <if test="code != null" >
        DCTCODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        DCTVALUE = #{value,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        DCTCOMMENT = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        DCTPARENT = #{parent,jdbcType=INTEGER},
      </if>
      <if test="sysCreateDate != null" >
        SYS_CREATE_DATE = #{sysCreateDate,jdbcType=DATE},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      <if test="disabled != null" >
        DISABLED = #{disabled,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.Ike.Api.sys.model.Dictionary" >
    update SYS_DICT
    set DCTCODE = #{code,jdbcType=VARCHAR},
      DCTVALUE = #{value,jdbcType=VARCHAR},
      DCTCOMMENT = #{comment,jdbcType=VARCHAR},
      DCTPARENT = #{parent,jdbcType=INTEGER},
      SYS_CREATE_DATE = #{sysCreateDate,jdbcType=DATE},
      VERSION = #{version,jdbcType=INTEGER},
      DISABLED = #{disabled,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>